@(categorias : List[model.Category], faciles : List[String],  dificiles: List[String])

@main("categorias") {
	<h1>Categorias</h1>
	<table class="table table-bordered">
		<tr>
			<th class="text-center success">Nombre categorias</th>
			@if(session().get("admin")=="true"){
				<th class="text-center success">Pregunta mas facil</th>
				<th class="text-center success">Pregunta mas dificil</th>
			}
		</tr>
			@for(categoria <- categorias) {
			<tr>
				@if(categoria.name == " Deportes"){
					<td class="text-center" bgcolor="#ffb037">@categoria.name</td>
				}
				@if(categoria.name == " Historia"){
					<td class="text-center" bgcolor="#ffe800">@categoria.name</td>
				}
				@if(categoria.name == " Entretenimiento"){
					<td class="text-center" bgcolor="#ff9c9f">@categoria.name</td>
				}
				@if(categoria.name == " Ciencia y Tecnologia"){
					<td class="text-center" bgcolor="#0ad067">@categoria.name</td>
				}
				@if(categoria.name == " Arte y Literatura"){
					<td class="text-center" bgcolor="red">@categoria.name</td>
				}
				@if(categoria.name == " Geografia"){
					<td class="text-center" bgcolor="#229cdc">@categoria.name</td>
				}
				@if(session().get("admin")=="true"){
					<td class="text-center">@faciles.get(categorias.indexOf(categoria))</td>
				
					<td class="text-center">@dificiles.get(categorias.indexOf(categoria))</td>
				}
			</tr>
			}
	</table>
}	
				 
		
