@(userForm: Form[model.User]) 
@import helper._

@main("Login") {
	<div class="row">
		<div class="col-md-6 form-group">
			<h2>Login</h2>

			@form(routes.Application.login()) { 
				@inputText(userForm("login"))
				@inputPassword(userForm("password")) 
				<div class="btn-group" role="group">
					<button class="btn btn-primary" type="submit">Login</button>
					<a href="/registro">
						<button type="button" class="btn btn-success">Registrarse</button>
					</a>
				</div>
				}
		</div>
	</div>
}