@(title: String)(content: Html)

<!DOCTYPE html>
@import helper._ 

<html>
	<head>
		<meta charset="UTF-8">
		<title>Web Trivial 5a - @title</title>
		<link rel='stylesheet' href='@routes.Assets.at("bootstrap/css/bootstrap.min.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("bootstrap/css/bootstrap-theme.min.css")'>
		<link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")'>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/tablero.css")'>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/tablero-main.css")'>
		<link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/flipclock.css")'>
		
		<script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>
	</head>
	<body>
		<div class="container-fluid main">
			<nav class="navbar navbar-default">
			  	<div class="container-fluid">
			  	 <div class="navbar-header">
      				<a class="navbar-brand" href="/">
      				  <img style="height:30px" alt="Brand" src='@routes.Assets.at("/images/logo.png")'>
   				   </a>
 			   	</div>

			  	<div class="btn-group" role="group">
			  		
				    <a href="/">
						<button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-play-circle"></span> @Messages("views.main.partidas")</button>
					</a>
					
				    <a href="/categorias">
				    	<button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-th-list"></span> @Messages("views.main.categorias")</button>
				    </a>
				    
				   	<a href="/usuario">
				    	<button type="button" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-user"></span> @Messages("views.main.usuarios")</button>
				    </a>
				</div>
				    <div class="btn-group pull-right" role="group">
				    @if(session().get("conectado") != null){
					    <a href="/logout">
					    	<button type="button" class="btn btn-danger navbar-btn pull-right"> @Messages("views.main.logout")  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
					    </a>
				    }
				    <a href="@{routes.Application.en(request.uri)}">
				    	<button type="button" class="btn btn-default navbar-btn pull-right"> <img 
                      src="@{routes.Assets.at("images/en.png")}" alt='English'> </button>
				    </a>
				    
				    <a href="@{routes.Application.es(request.uri)}">
				    	<button type="button" class="btn btn-default navbar-btn pull-right"> <img 
                      src="@{routes.Assets.at("images/es.png")}" alt='Español'> </button>
				    </a>
				    @if(session().get("conectado") != null){
				    	<span class="btn navbar-btn pull-right" disabled>@Messages("views.main.saludo") @session().get("conectado")!</span>
				    }
				    </div>
			  	</div>
			</nav>
			@if(flash.containsKey("danger")) {
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
							<span aria-hidden="true">&times;</span>
						</button>
						<span class="glyphicon glyphicon-thumbs-down"></span> @flash.get("danger")
					</div>
				</div>
			</div>
			}
			@if(flash.containsKey("quesito")) {
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-info alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
							<span aria-hidden="true">&times;</span>
						</button>
						<span class="glyphicon glyphicon-thumbs-up"></span> @flash.get("quesito")
					</div>
				</div>
			</div>
			} else { @if(flash.containsKey("success")) {
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
							<span aria-hidden="true">&times;</span>
						</button>
						<span class="glyphicon glyphicon-thumbs-up"></span> @flash.get("success")
					</div>
				</div>
			</div>
			}
			}
		    @content
		</div>
		<script src="@routes.Assets.at("javascripts/prefixfree.min.js")"></script>
		
		<script src="@routes.Assets.at("javascripts/flipclock.min.js")"></script>
		<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("javascripts/tablero.js")"></script>
	</body>
</html>
