@(partidas : List[model.Partida])
@import helper._

<Partida> <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Partidas</title>
</head>
<body>
	<h1>Todas las partidas</h1>
	<table>
		@for(partida <- partidas) {
		<tr>
			<td>@form(routes.Application.showPartida(partida.id)) {
				<input type="submit" class="btn" value="@partida.id">
				}
			</td>	
		</tr>
		}
	</table>
	@form(routes.Application.newPartida()) {
		<input type="submit" class="btn" value="Create">
	}
</body>
</html>