@(partidas : List[model.Partida])

@import helper._

@main("Lista de Partidas") {
	<a type="submit" class="btn btn-warning btn-lg" href="@routes.Application.login()"><span class="glyphicon glyphicon-repeat"></span></a>

	<a href="@routes.Application.newPartida()" class="btn btn-success btn-lg">@Messages("views.partidas.nuevaPartida") <span class="glyphicon glyphicon-plus"></span></a> 
	<div class="row">
		<div id="columnaPartidas" class="col-md-4">
			<h1 class="text-center">@Messages("views.partidas.partidasEnlasQueTeTocaTirar")</h1>
			<table class= "table">
				@for(partida <- partidas) {
					@if(partida.activeUser.login==session().get("conectado") &&  partida.finished==false){
					@botonespartida(partida)
					}
				}
			</table>
		</div>
		<div id="columnaPartidas" class="col-md-4">
			<h1 class="text-center">@Messages("views.partidas.partidasAcabadas")</h1>
			<table class= "table">
				@for(partida <- partidas) {
					@if(partida.finished==true){
						@if(partida.activeUser.login==session().get("conectado")){
							@botonespartida(partida)
						}
					}
				}
			</table>
		</div>
		<div id="columnaPartidas" class="col-md-4">
			<h1 class="text-center">@Messages("views.partidas.partidasActivasEsperandoPorJugador")</h1>
			<table class= "table">
				@for(partida <- partidas) {
					@if(partida.finished==false && partida.activeUser.login!=session().get("conectado")){
						@botonespartida(partida)
					}
				}
			</table>
		</div>
	</div>
}