@(partidaid : Long, pregunta : model.Question, quesito: Boolean)

@import helper._

@main("pregunta") {
<script>
$( document ).ready(function() {
	clock = new FlipClock($('#clock'), 15, {
		clockFace: 'Counter',
		autoStart: true,
		countdown: true,
		callbacks: {
        	stop: function() {
        		window.location.href = "@routes.Application.showPartida(partidaid)";
        	}
		}
	});
});
</script>
	<div class="col-md-6">
		<h1>@pregunta.query</h1>
		<table>
			@for(respuesta <- pregunta.getAllAnswers()) {
				<tr>
					<td  style="padding:10px">
						@form(routes.Application.contesta()){
							<input type ="hidden" name="category" value="@pregunta.category" />
							<input type ="hidden" name="query" value="@pregunta.query" />
							<input type ="hidden" name="contestada" value="@respuesta" />
							<input type ="hidden" name="id" value="@partidaid" />
							<input type ="hidden" name="quesito" value="@quesito" />
							<button id="getQuestion" type="submit" class="btn btn-primary">
								@respuesta
							</button>
						}
					</td>
				</tr>
			}
		</table>
	</div>
	<div class="col-md-4">
		<div id ="clock"></div>
	</div>
}


