<!--Modificacion de http://codepen.io/schoenwaldnils/pen/JnIKA-->
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CodePen - Circle Menu 2</title>
	
	<link rel="stylesheet" type="text/css" 
                       href='@routes.Assets.at("stylesheets/tablero.css")'>
    <link rel="stylesheet" type="text/css" 
                       href='@routes.Assets.at("stylesheets/tablero-main.css")'>
	<script src="@routes.Assets.at("javascripts/prefixfree.min.js")"></script>
	
</head>

<body>

  <ul id="menu">
  <a class="menu-button" href="#menu" title="Show navigation"></a>
  <a class="menu-button" href="#menu" title="Hide navigation"></a>
  <li class="menu-item  icon-star">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item  icon-star">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item  icon-star">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item     icon-star">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>

  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>

  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>

  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>

  <li class="menu-item    icon-star">
    <a class="menu-item-back" href="#menu"></a>
  </li>

  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>

  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>

  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>

  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>

  <li class="menu-item     icon-star">
    <a class="menu-item-back" href="#menu"></a>
  </li>

  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
  </li>
  <li class="menu-item">
    <a class="menu-item-back" href="#menu"></a>
    <li class="menu-item">
      <a class="menu-item-back" href="#menu"></a>
    </li>
</ul>

  <script src="js/index.js"></script>

</body>

</html>