@(users:List[model.User], userForm: Form[model.User])
@import helper._

@main("usuarios") {
	<h1>Usuarios registrados</h1>	
	<table class="table table-bordered">
	<tr><th class="text-center success">Login</th>
	@if(session().get("admin")=="true"){
		<th class="text-center success">Preguntas acertadas</th>
		<th class="text-center success">Preguntas falladas</th>
	}
	</tr>
	@for(user <- users){
		<tr>
			<td class="text-center">
				 @user.login
			</td>
			
			@if(session().get("admin")=="true"){
				<td class="text-center">@user.numberCorrectAnswer</td>
				<td class="text-center">@user.numberWrongAnswer</td>
			}
		</tr>
	}
	</table>	



}
