<html>
	<head>
		<title> Trivial con Formularios </title>
		<script type="text/javascript" src="../javascripts/ventanaPreguntas.js"></script>
		<script type="text/javascript" src="../javascripts/preguntas.js"></script>
		</head>
		<body>		
		<form name="QuestionForm">
		Pregunta
		<input type="text" name=txtQNumber size=1>
		
		<script language=JavaScript>
		   document.write(getQuestion());
		</script>
		
		<input type="button" value="Comprobar respuesta" name=buttonCheckQ 
		   onclick="return buttonCheckQ_onclick()" />
		</form>
	</body>
</html>
